caliper/node_modules/*
services/ext/extlog
services/log/logfile
services/verifier/ver1log
services/verifier/ver2log
caliper/package-lock.json
caliper/report.html
caliper/caliper.log
caliper/report-50.html
caliper/report_100_in30s.html
caliper/report_3000trans_500tps.html
caliper/report_linearRate.html
caliper/report_linearRate.html
services/verifier/go.mod
services/verifier/go.sum
services/verifier/peer*.*
/organizations
node_modules
/channels
/go
log.txt
*fuse_hidden*
/chaincodes/packages
/chaincodes/*/vendor